{% load static %}
<!doctype html>
<html>
<head>
<!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->
{% comment %} <link rel="stylesheet" href="{% static 'css/inapp.css' %}"> {% endcomment %}
</head>
<body>
    <div class="header">
        <h1><center><b>Welcome To MY News</b></center></h1>
    </div>
    {% for news in news_list %}    
        <div>
            <h1>{{news.title}}</h1>
            <img src="{{news.urlToImage}}"/>
            <p>Source: {{news.source.name}}</p>
            <p>News: {{news.description}}</p>
            <a href="{{news.url}}">Click here for detailed news</a>
            <p>Published on: {{news.publishedAt}} </p>
        </div>
    {% endfor %}
    
</body>
</html>
