 body
    {
        background-color:black;
    }
    .header h1
    {
        background-color: red;
        color: black;
        padding:30px;
        margin: 0;
    }
    .item
    {
        background-color: white;
    }
    #rc a 
    {
        text-decoration: none;
    }
    #rc h2
    {
        color: black;
    }
    #mb a 
    {
        text-decoration: none;
    }
    #mb h2
    {
        color: black;
    }
    #pk a 
    {
        text-decoration: none;
    }
    #pk h2
    {
        color: black;
    }